# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [11]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [25]:
df_dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_grass = df[df["Type 2"]=="Grass"]["HP"]
from scipy.stats import ttest_ind
result = ttest_ind(df_grass, df_dragon, alternative='greater')
print(result)

TtestResult(statistic=-3.6830898506582472, pvalue=0.9997364295473898, df=55.0)

P-value is bigger than zero so we reject H0 so Dragon have more HP than Grass pokemon

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [33]:

import scipy.stats as stats

# Separate data into Legendary and Non-Legendary
legendary = df[df['Legendary'] == True]
non_legendary = df[df['Legendary'] == False]

# List of stats to test
stats_to_test = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

# Dictionary to hold results
test_results = {}

# Perform t-test for each stat
for stat in stats_to_test:
    t_stat, p_value = stats.ttest_ind(legendary[stat], non_legendary[stat])
    test_results[stat] = (t_stat, p_value)

    print(f"{stat} - t-statistic: {t_stat}, p-value: {p_value}")

# Interpret results
for stat, (t_stat, p_value) in test_results.items():
    if p_value < 0.05:
        print(f"{stat}: Significant difference (p-value: {p_value})")
    else:
        print(f"{stat}: No significant difference (p-value: {p_value})")

HP - t-statistic: 8.036124405043928, p-value: 3.3306476848461913e-15
Attack - t-statistic: 10.397321023700622, p-value: 7.827253003205333e-24
Defense - t-statistic: 7.181240122992339, p-value: 1.5842226094427255e-12
Sp. Atk - t-statistic: 14.191406210846289, p-value: 6.314915770427265e-41
Sp. Def - t-statistic: 11.03775106120522, p-value: 1.8439809580409597e-26
Speed - t-statistic: 9.765234331931898, p-value: 2.3540754436898437e-21
HP: Significant difference (p-value: 3.3306476848461913e-15)
Attack: Significant difference (p-value: 7.827253003205333e-24)
Defense: Significant difference (p-value: 1.5842226094427255e-12)
Sp. Atk: Significant difference (p-value: 6.314915770427265e-41)
Sp. Def: Significant difference (p-value: 1.8439809580409597e-26)
Speed: Significant difference (p-value: 2.3540754436898437e-21)

it is true that legendary pokemon have different stats with non legendary pokemon on all stats

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [36]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [96]:
import pandas as pd
import numpy as np
import scipy.stats as stats

def calculate_euclidean_distances(df, school_coords, hospital_coords):
    """
    Calculate the Euclidean distance from each house to the school and hospital.

    Parameters:
    df (pd.DataFrame): DataFrame containing house coordinates with columns 'longitude' and 'latitude'.
    school_coords (tuple): Coordinates (longitude, latitude) of the school.
    hospital_coords (tuple): Coordinates (longitude, latitude) of the hospital.

    Returns:
    pd.DataFrame: DataFrame with two additional columns 'distance_to_school' and 'distance_to_hospital'.
    """
    df['distance_to_school'] = np.sqrt((df['longitude'] - school_coords[0]) ** 2 + (df['latitude'] - school_coords[1]) ** 2)
    df['distance_to_hospital'] = np.sqrt((df['longitude'] - hospital_coords[0]) ** 2 + (df['latitude'] - hospital_coords[1]) ** 2)
    return df

def categorize_houses(df, threshold):
    """
    Categorize houses based on their distance to the school and hospital.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing distances with columns 'distance_to_school' and 'distance_to_hospital'.
    threshold (float): Distance threshold to categorize houses.
    
    Returns:
    pd.DataFrame: DataFrame with additional columns 'close_to_school' and 'close_to_hospital'.
    """
    df['close_to_school'] = df['distance_to_school'] < threshold
    df['close_to_hospital'] = df['distance_to_hospital'] < threshold
    return df

def perform_t_test(df, category, target_col='median_house_value'):
    """
    Perform t-test to compare close and far houses.

    Parameters:
    df (pd.DataFrame): DataFrame containing house data.
    category (str): The column to be tested, e.g., 'close_to_school' or 'close_to_hospital'.
    target_col (str): The column against which the t-test is performed, e.g., 'median_house_value'.

    Returns:
    dict: t-statistic and p-value
    """
    close_houses = df[df[category] == True][target_col]
    far_houses = df[df[category] == False][target_col]
    t_stat, p_value = stats.ttest_ind(close_houses, far_houses)
    return {'t_stat': t_stat, 'p_value': p_value}

# Define coordinates for the school and hospital
school_coords = (-118, 37)   # Example coordinates for the school
hospital_coords = (-122, 34) # Example coordinates for the hospital
threshold_dist = 0.5  # Set the threshold distance for categorizing houses

# Step 1: Calculate distances
df = calculate_euclidean_distances(df, school_coords, hospital_coords)

# Step 2: Categorize houses
df = categorize_houses(df, threshold_dist)

# Step 3: Perform t-tests
results_school = perform_t_test(df, 'close_to_school')
results_hospital = perform_t_test(df, 'close_to_hospital')

# Step 4 and 5: Interpret and print the results
significance_level = 0.05

print("T-test Results: School Proximity")
print(f"t-statistic: {results_school['t_stat']}, p-value: {results_school['p_value']}")
if results_school['p_value'] < significance_level:
    print("Significant difference in house prices between houses close to school and far from school.")
else:
    print("No significant difference in house prices between houses close to school and far from school.")

print("\nT-test Results: Hospital Proximity")
print(f"t-statistic: {results_hospital['t_stat']}, p-value: {results_hospital['p_value']}")
if results_hospital['p_value'] < significance_level:
    print("Significant difference in house prices between houses close to hospital and far from hospital.")
else:
    print("No significant difference in house prices between houses close to hospital and far from hospital.")

T-test Results: School Proximity
t-statistic: -2.2146147257665834, p-value: 0.026799733071128696
Significant difference in house prices between houses close to school and far from school.

T-test Results: Hospital Proximity
t-statistic: nan, p-value: nan
No significant difference in house prices between houses close to hospital and far from hospital.